asgiref==3.5.2
Django==4.1
django-cors-headers==3.13.0
django-simpleui==2022.7.29
djangorestframework==3.13.1
mysqlclient==2.1.1
numpy==1.23.2
Pillow==9.2.0
pytz==2022.2.1
reportlab==3.6.11
sqlparse==0.4.2
tzdata==2022.2
